%rebase('base.html', title='BusinessNet')

%if sporocilo:
  <div class="alert {{sporocilo[0]}} alert-dismissable">{{sporocilo[1]}}
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  </div>
%end

<form id="projekt-forma" class="form-horizontal" method="post" action="/projekt/new/">
<fieldset>

<!-- Form Name -->
<legend>Kva dogaja?</legend>

<!-- Textarea
<div class="control-group">
  <label class="control-label" for="projekt"></label>
  <div class="controls">                     
    <textarea id="projekt" name="projekt"></textarea>
  </div>
</div> -->



<p><font size="6">Misel dneva:</font></p>
<p><font size="12">* per aspera ad astra *</font></p>
  


<!-- Button -->
<div class="control-group">
  <label class="control-label" for="singlebutton"></label>
  <div class="controls">
      <div class="container-login100-form-btn">
          <button class="login100-form-btn" type="submit">
              TO BE CONTINUED!
          </button>
        </div>
  </div>
</div>

</fieldset>
</form>