<a name="projekt-{{tid}}">
<div class="panel panel-primary">
  <div class="panel-heading">
    <a class="projekt-avtor" href="/user/{{avtor}}/">{{avtor_ime}}</a>
    <span class="projekt-cas">{{cas}}</span>
  </div>
  <div class="panel-body">
    <div class="projekt-vsebina">{{vsebina}}</div>
    <div class="projektk-kontrole">
    %if avtor == username:
    <a href="/projekt/{{tid}}/delete/">zbriši</a>
    %end
    </div>
    %for (username, ime, vsebina) in komentarji:
    <div class="well well-sm">
      <a href="/user/{{username}}/">{{ime}}</a>:
      {{vsebina}}
    </div>
    %end
    <div class="panel-footer">
      <div class="panel-body">
       <form method="post" action="/komentar/{{tid}}/">
          <textarea class="komentar" name="komentar"></textarea>
          <input type="submit" value="Vnesi"/>
        </form>
      </div>
    </div>
  </div>
</div>
</a>
