%rebase('base.html', title='Zabavaj se!', username=username)

    <div class="row">
            <div class="col-lg-8">
                    <div class="p-4">

        <!-- Basic Card Example -->
        <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Navodila</h6>
              </div>
              <div class="card-body">
                Baby Boss ti dovoli, da za trenutek odložiš delo in se preiskusiš v igri potrpežljivosti. 
                <p> Nahrani kačo in poskusi doseči čim večje število točk! Premikaj se s tipkami: gor, dol, levo, desno.</p>
                <strong>Tekmuj s svojim sodelavcem. Kdo bo dosegel več točk? :) </strong>
              </div>
            </div>
        </div>
        <div class="row">
        <div class="col-lg-8">    
        <div class="p-4">
        <a href="/igra/" class="btn btn-success btn-lg">
            <span class="icon text-white-50">
              <i class="fas fa-check"></i>
            </span>
            <span class="text">Pokaži igro!</span>
          </a>
        </div>

    </div>
</div>
</div>
</div>


