%rebase('base.html', title='Spoznaj sodelavce!', username=username)

<div class="row px-5">
<div class="col-lg-12">
<div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-6">
              <div class="p-3">
                <form class="user" role="form" method="post" action="." >
                    <span class="label-input100">Ime</span>
                    <input type="imes" class="form-control form-control-user" id="exampleFirstName" 
                    %if imes:
                    value = "{{imes}}"
                    %end
                    name = "imes">  
                    <span class="label-input100">Priimek</span>
                    <input type="ime" class="form-control form-control-user" 
                    %if priimek:
                    value = "{{priimek}}"
                    %end
                    name = "priimek">
                    <span class="label-input100">Oddelek</span>
                    <input type="oddelek" class="form-control form-control-user" 
                    %if oddelek:
                    value = "{{oddelek}}"
                    %end
                    name = "oddelek">
                    <p>

                    </p>
                    <button class="btn btn-primary btn-user btn-block" type="submit">
                        Poišči!
                    </button>
                </form>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="p-3 d">
                    <img src="../static/img/friends.png"  width="400" height="500">
              </div> 
            </div>    
          </div>            
        </div>
      </div>
    </div>
  </div>

</div>
</div>
