%rebase('osnova.html', naslov='Zaposleni')

  <table cellpadding="0" cellspacing="0" border="1">
  <tr>
     <th>Emšo</th>
     <th>Ime</th>
     <th>Priimek</th>
     <th>Datum rojstva</th>
     <th>Delovna doba</th>
     <th>Kraj</th>
     <th>Stopnja izobrazbe</th>
     <th>V oddelku</th>
     <th>Na projektu</th>
  %for (emso,ime,priimek,datum_rojstva, delovna_doba, kraj, stopnja_izobrazbe, v_oddelku, na_projektu) in zaposleni:
    <tr>
       <td>{{emso}}</td>
       <td>{{ime}}</td>
       <td>{{priimek}}</td>
       <td>{{datum_rojstva}}</td>
       <td>{{delovna_doba}}</td>
       <td>{{kraj}}</td>
       <td>{{stopnja_izobrazbe}}</td>
       <td>{{v_oddelku}}</td>
       <td>{{na_projektu}}</td>
    </tr>
  %end
  </table>

  <p>
    <a href="/1000/"></a>
</p>